################### MACROS ###################################
[gcode_macro G29]
gcode:
    BED_MESH_PROFILE load=default

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
  {% set X = params.X|default(220) %}
  {% set Y = params.Y|default(220) %}
  {% set Z = params.Z|default(10) %}
  {% set E = params.E|default(1) %}
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
    G91
    G1 E-{E} F2100
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F6000


[gcode_macro RESUME]
rename_existing: BASE_RESUME
#default_parameter_E: 1     
gcode:
  {% set E = params.X|default(1) %}  # edit to your preferred retract length
    G91
    G1 E{E} F2100
    G90
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1
    BASE_RESUME

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    #SDCARD_RESET_FILE
    BASE_CANCEL_PRINT

[gcode_macro PART_COOLING_FAN_ON]
gcode:
    M106 S255

[gcode_macro PART_COOLING_FAN_OFF]
gcode:
    M106 S0



[gcode_macro LOAD_FILAMENT]
#default_parameter_EXTRUDER_TEMP: 200
#default_parameter_BOWDEN_TUBE_LENGTH: 20
gcode:
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200) %}
    {% set BOWDEN_TUBE_LENGTH = params.BOWDEN_TUBE_LENGTH|default(20) %}
    # Let the printer know you are following this point with metric values
    G21
    # Let the printer know you are using absolute positioning
    G90
    # Start nozzle heating
    M117 Heating nozzle
    M104 S{EXTRUDER_TEMP}
    # Set and wait for nozzle to reach temperature
    M109 S{EXTRUDER_TEMP}
    # Reset the position of the extruder
    G92 E0
    # Feed BOWDEN_TUBE_LENGTH mm of filament at 2000 mm/minute speed.
    G1 E{BOWDEN_TUBE_LENGTH} F300
    # Reset the position of the extruder
    G92 E0

[gcode_macro UNLOAD_FILAMENT]
#default_parameter_EXTRUDER_TEMP: 220
#default_parameter_BOWDEN_TUBE_LENGTH: 100
gcode:
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(220) %}
    {% set BOWDEN_TUBE_LENGTH = params.BOWDEN_TUBE_LENGTH|default(100) %}
    # Let the printer know you are following this point with metric values
    G21
    # Let the printer know you are using absolute positioning
    G90
    # Start nozzle heating
    M117 Heating nozzle
    M104 S{EXTRUDER_TEMP}
    # Set and wait for nozzle to reach temperature
    M109 S{EXTRUDER_TEMP}
    # Reset the position of the extruder
    G92 E0
    # Extrude a short distance before unloading to avoid blob forming
    G1 E10 F100
    # Reset the position of the extruder
    G92 E0
    # Retract BOWDEN_TUBE_LENGTH mm of filament at 2000 mm/minute speed.
    G1 E-{BOWDEN_TUBE_LENGTH} F2000
    # Reset the position of the extruder
    G92 E0[delayed_gcode DISABLEFILAMENTSENSOR] ; This will disable the SFS 1 second after klipper starts
    
[delayed_gcode DISABLEFILAMENTSENSOR] ; This will disable the SFS 1 second after klipper starts
initial_duration: 1
gcode:
    SET_FILAMENT_SENSOR SENSOR=switch_sensor ENABLE=0 ; Put your filament sensor's name after SENSOR=
    SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0 ; Put your filament encoder's name after SENSOR=

[gcode_macro SFS_ENABLE] ; Add this to PRINT_START
description: Enable smart filament sensor
gcode:
    M117 ENABLING the Smart Filament Sensor
    G92 E0
    SET_FILAMENT_SENSOR SENSOR=switch_sensor ENABLE=1 ; Put your filament sensor's name after SENSOR=
    SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=1 ; Put your filament encoder's name after SENSOR=

[gcode_macro SFS_DISABLE] ; Add this to PRINT_END and PRINT_CANCEL
description: Disable smart filament sensor
gcode:
    M117 DISABLING the Smart Filament Sensor
    G92 E0
    SET_FILAMENT_SENSOR SENSOR=switch_sensor ENABLE=0 ; Put your filament sensor's name after SENSOR=
    SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0 ; Put your filament encoder's name after SENSOR=
    # Display message on LCD-display to remove the filament
    M117 Remove filament



